/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Body font and background */
body, h1, h2, h3, h4, h5, h6,
.navbar, .navbar-brand, .navbar-nav {
  font-family: 'Inter', Arial, sans-serif;
}
body {
  background-color: #f7f5f2;
  color: #000 !important;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  color: #693e23;
}

/* Hyperlinks */
a, a:visited, a:active {
  color: #8f8844;
  text-decoration: underline;
}
a:hover {
  color: #ba1a20;
}

/* R code: inline and blocks */
code {
  color: #db6a11;
  background-color: #f7f5f2;
}
pre code {
  color: #db6a11;
  background-color: #f7f5f2;
  font-family: 'Fira Mono', 'Consolas', monospace;
}

/* Navbar colour */
.navbar, .navbar-light, .navbar-brand, .navbar-nav {
  background-color: #f7f5f2 !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

/* Active navbar link */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover {
  color: #693e23 !important;
  background-color: #f7f5f2 !important;
  border-radius: 4px;
}

/* Navbar brand (site title) */
.navbar-brand {
  color: #693e23 !important;
}